* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  color: black;
}

.barra-superior {
  padding: 14px 16px;
  margin: 0 14px;
  text-align: center;
  border-bottom: 1px solid #e7e7ee;
}

.contenedor-principal {
  padding: 14px 16px;
  display: flex;
  justify-content: center;
}